/* UNORDERED LIST */
/* ul{
    list-style-type: square;
} */

/* ORDERED LIST */
/* ol{
    list-style-type: upper-roman;
} */

/* IMAGES FOR BULLETS */
/* ul{
    list-style-image: url(./apples/arrow.png);
}

li{
    margin: 10px 0px 0px 0px;
} */

/* LIST STYLE POSITION */
/* .illuminations{
    list-style-position: outside;
}

.season{
    list-style-position: inside;
} */

/* LIST SHORTHAND */
/* ul{
    list-style: inside square;
} */

/* TABLE PROPERTIES */
/* table{
    width: 600px;
    padding: 20px;
    text-transform: lowercase;
    border-top: 1px solid red;
    border-bottom: 1px solid green;
} */

/* table,td,th{
    border: 1px solid red;
    border-collapse: collapse;
    text-align: left;
} */

/* table{
    background-color: aqua;
} */

/* tr:hover{
    background-color: wheat;
    cursor: pointer;
} */

/* td{
    padding: 10px;
} */

/* th{
    background-color: black;
    color: white;
} */

/* .even{
    background-color: black;
    color: white;
} */
/* EMPTY CELLS */

/* td{
    border: 1px solid red;
    padding: 15px;
}

table{
    empty-cells: show;
} */

/* GAPS BETWEEN CELLS */
/* td{
    border: 2px solid #000000 ;
    background-color: #0088dd;
    padding: 15px;
}

table{
    border-collapse: separate;
} */